<!DOCTYPE html>
<html>
  <head>
    <title>Delete Dangerous Goods</title>
  </head>
    <body>
      <h1>Delete Dangerous Goods Page</h1>

      <form>
        <p>Goods list</p>
        <% for(var i = 0; i < name.length; i++) { %>
          <input id=<%= i %> type="checkbox" />
          <label><%= name[i] %></label>
          <label><%= property2[i] %></label>
          <label><%= property3[i] %></label>
          <label><%= property4[i] %></label>
          <label><%= property5[i] %></label>
          </br>
        <% } %>
        <button>submit</button>
        <button type="button" onclick="location.href='/'">메인</button>
        <button type="button" onclick="location.href='/DangerousGoods'">이전</button>
      </form>

  </body>
</html>
